flask
flask_socketio
openai
langchain
langchain-openai
langchain-anthropic
langchain-community
python-dotenv
pydantic
tiktoken
numexpr
langserve
langgraph
sse_starlette
pgeocode
pyodbc
gunicorn
eventlet