flask
flask_socketio
openai
langchain
langchain-openai
langchain-anthropic
langchain-community
python-dotenv
pydantic
faiss-cpu
tiktoken
numexpr
langserve
langgraph
sse_starlette
pgeocode
pyodbc==4.0.32
gunicorn
eventlet